.layout {
    padding: 10vh;
    background-color: #00000020;
}

.layout .content {
    background-color: white;
    padding: 3vh;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
}

.layout .content .buttonBack {
    margin: 0.5rem 0;
}

.layout .content .modal {
    text-align: center;
}

.layout .content .modal .detailModal:hover {
    cursor: pointer;
}

.layout .content .sider {
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.layout .content .sider .img {
    width: 100%;
}

.layout .content .sider .gender {
    display: block;
    margin: auto
}

.layout .content .sider .popularity {
    display: block;
    text-transform: capitalize;
}

.layout .content .description {
    padding: 1rem;
}

.layout .content .description .title {
    display: flex;
    justify-content: space-between;
}

.layout .content .description .detailMovie {
    display: flex;
}

.layout .content .description .imgPoster {
    width: 10%;
    height: 10vw;
}

.layout .content .description .containOverview {
    padding: 0 0.3rem;
}

.layout .content .description .containOverview .overview {
    display: block;
}